pre{
    white-space: pre-wrap;
}
#sidebarMenu ul li{
    padding-left: 17px !important;
}
#sidebarMenu ul:first-of-type li{
    padding-left: 0;
}
#sidebarMenu li ul{
    display: none;
}
#sidebarMenu li{
    position: relative;
    cursor: pointer;
}
#sidebarMenu li:first-letter{
    text-transform: capitalize;
}
#sidebarMenu li i{
    position: absolute;
    top:3px;
    left: 0;
}
img{
    max-width: 600px;
    width: 100%;
}
.fa-sync-alt{
  transition: all 0.5s ease;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
#search:disabled{
    color: #828389;
    background: #494E53;
}
/*
        © 2020 Берестнев Дмитрий Дмитриевич 
        Контактная информация:
        VK: https://vk.com/brotiger63
        mail: dimka@bdima.ru
        GitHub: https://github.com/Brotiger
        Telegram: @Brotiger63
*/
.copyr{
    margin-right: 70px;
}